.content-meta {
  margin-top: 0;
  color: var(--gray);

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}

.edit-icon {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-right: 10px;
  color: var(--gray);
  flex-shrink: 0;

  svg {
    width: 18px;
    height: 18px;
  }
}

.content-meta:hover .edit-icon {
  opacity: 1;
}

.edit-icon:hover {
  color: var(--secondary);
}