.image-container {
    position: relative;
    display: inline-block;
  }

  .second-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .first-image{
    transition: opacity 0.3s ease-in-out;
  }
  .image-container:hover .second-image {
    opacity: 1;
  }
  .image-container:hover .first-image {
    opacity: 0;
  }
  .image-container img{
    max-width: 380px;
    margin-bottom: 0px;
  }
  .image-container>.image-caption{
    margin-top: 0px;
    color: var(--gray);
    text-align: center;
  }