// put your custom CSS here!
//LESSWRONG THEME//
@use "./variables.scss" as *;
@use "./_theme_lessWrong.scss";
@use "./_theme_tufte.scss";
@use "./component_carousel.scss";
@use "./_component_toggleDiv.scss";
///////////////
//OVERALL CSS//
///////////////

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Delicious+Handrawn&family=Cinzel&family=Italiana&family=Fasthand&family=Lora:ital@0;1&family=Poiret+One&display=swap');

body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='4' height='4' viewBox='0 0 4 4' style='enable-background:new 0 0 4 4;'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23DAD8CE;fill-opacity:0.4;%7D%3C/style%3E%3Cpath class='st0' d='M1,3h1v1H1V3z M3,1h1v1H3V1z'/%3E%3C/svg%3E") ;
}
html[saved-theme="dark"] body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='4' height='4' viewBox='0 0 4 4' style='enable-background:new 0 0 4 4;'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23403e3c;fill-opacity:0.4;%7D%3C/style%3E%3Cpath class='st0' d='M1,3h1v1H1V3z M3,1h1v1H3V1z'/%3E%3C/svg%3E") !important;

}

.callout[data-callout=note] {
  --color: rgb(67, 133, 190) !important;
  --border: rgb(32, 94, 166);
  --bg: rgb(67, 133, 190, .1);
}
.content-meta>span{
  margin-right: 10px;
}


// specific tag stying
a[data-tag="acorn"]:not(.essay-status){
  color: rgb(218, 112, 44) !important;
  background-color: transparent !important;
  padding: 3px 3px;
  font-weight: 600;
  line-height: 1.4em;
}
a[data-tag="seedlings"]:not(.essay-status){
  color: rgb(135, 154, 57) !important;
  background-color: transparent !important;
  padding: 3px 3px;
  font-weight: 600;
  line-height: 1.4em;
}

a[data-tag="seedlings"]:not(.essay-status):before {
  content: '🌱 ';
  color: transparent ;
  text-shadow: 0 0 0 rgb(135, 154, 57);
}
a[data-tag="budding"]:not(.essay-status) {
  color: rgb(102, 128, 11) !important;
  background-color: transparent !important;
  padding: 3px 3px;
  font-weight: 600;
  line-height: 1.4em;
}
.essay-status{
  color:var(--gray);
}
a[data-tag="budding"]:not(.essay-status):before {
  content: '🌿 ';
  color: transparent;
  text-shadow: 0 0 0 rgb(102, 128, 11);
}
body[data-slug="index"] .article-title:before{
  content: '🌱 ';
  color: transparent ;
  text-shadow: 0 0 0 rgb(102, 128, 11);
}
a[data-tag="evergreen"]:not(.essay-status){
  background-color: transparent !important;
}
// a[data-tag="evergreen"]{
//   background: #0DC670 !important;
//   color: #fff !important;
//   padding: 3px 8px;
//   line-height: 2em;
//   font-weight: 500;
// }
// a[data-tag="evergreen"]:before {
//   content: '🌲 ';
//   text-shadow: 0 0 3px white;
//   position: relative;
// }
// a[data-tag="evergreen"]:hover{
//   color:#02120a !important;
// }

// roam OR select component
select.roam-or-component{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 1px solid var(--shiki-token-comment);
    cursor: pointer;
    color: var(--shiki-color-text);
    border-radius: 5px;
    padding: 0 .5em;
  }

  
  
article {
  a{
    color:inherit; 
  }
  
  a.internal {
    // font-family: 'Burrow Serif', serif;
    font-variation-settings: 'wght' 100;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:not(.tag-link):not([aria-hidden="true"]):after {
      content: "\B0";
      font-size:20px;
      color:var(--secondary);
    }
    &:hover {
      text-decoration: none;
      font-variation-settings: 'wght' 700;
    }
    .hash{
      color:var(--secondary);
    }
      
    
  }
  // external links
  a.external {
    padding-right: 10px;
  
    &:after {
      content: "↗";
      font-size: 10px;
      color: transparent;
      text-shadow: 0 0 0 var(--secondary);
      position: absolute;
      margin-left: 2px; // Use margin instead of padding-left
    }

  }
}
img.cover-image {
  height: 100px !important;
  float: left !important;
  margin: 0 1rem 1rem 0; /* Top, Right, Bottom, Left */
}

// page title
.page-title {
  border-bottom:4px solid var(--secondary);
  border-left: 4px double var(--secondary);
  padding-left: 4px;
  font-size: 1rem;
}

ul.tags{
  display:none;
}
.text-highlight {
  background-color: #d0a21588 !important;
}
body[data-slug="Theme-Tester"] .article-title{
  font-family: Italiana;
}
body[data-slug="for-grandma"]{
  font-family:Fasthand;//Delicious Handrawn;
  p,div{
    font-size: 1.3rem;}
}

body[data-slug="for-grandma"] {
  .article-title, .graph>h3, .backlinks>h3, .page-title{
    font-family:Delicious Handrawn;
  }
}
// only center headings on mobile
@media all and (max-width: $fullPageWidth) {
  article h1,
  article h2,
  article h3{
    text-align:center;
  }
}


