// put your custom CSS here!
//LESSWRONG THEME//

@use "./_theme_lessWrong.scss";
@use "./_theme_tufte.scss";
@use "./_component_toggleDiv.scss";
///////////////
//OVERALL CSS//
///////////////

// specific tag stying
a[data-tag="acorn"]{
  color: #B37607 !important;
  background-color: transparent !important;
  padding: 3px 3px;
  font-weight: 600;
  line-height: 1.4em;
}
a[data-tag="seedlings"]{
  color: #0DC670 !important;
  background-color: transparent !important;
  padding: 3px 3px;
  font-weight: 600;
  line-height: 1.4em;
}

a[data-tag="seedlings"]:before {
  content: '🌱 ';
}
a[data-tag="budding"] {
  color: #0B9351 !important;
  background-color: transparent !important;
  padding: 3px 3px;
  font-weight: 600;
  line-height: 1.4em;
}
a[data-tag="budding"]:before {
  content: '🌿 ';
}
// a[data-tag="evergreen"]{
//   background: #0DC670 !important;
//   color: #fff !important;
//   padding: 3px 8px;
//   line-height: 2em;
//   font-weight: 500;
// }
// a[data-tag="evergreen"]:before {
//   content: '🌲 ';
//   text-shadow: 0 0 3px white;
//   position: relative;
// }
// a[data-tag="evergreen"]:hover{
//   color:#02120a !important;
// }

// roam OR select component
select.roam-or-component{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 1px solid var(--shiki-token-comment);
    cursor: pointer;
    color: var(--shiki-color-text);
    border-radius: 5px;
    padding: 0 .5em;
  }

// external links
.external::after {
  fill: var(--gray);
  padding-left: 2px;
  color: transparent;
  text-shadow: 0 0 0 var(--secondary);
  content: "↗";
  font-size: 10px;
  position: absolute;
}
article a.internal:not(.tag-link):not([aria-hidden="true"]):after {
  content: "\B0";
  font-size:20px;
}
img.cover-image {
  height: 100px !important;
  float: left !important;
  margin-right: 20px !important;
}

// page title
.page-title {
  border-bottom:4px solid var(--secondary);
  border-left: 4px double black;
  padding-left: 4px;
  font-size: 1rem;
}




